.adminPage{
  display: grid;
  gap: 16px;
}

.adminPageGrid{
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
  align-items: start;
}


.adminPageRight{
  display: grid;
  gap: 16px;
}

@media (max-width: 1000px){
  .adminPageGrid{
    grid-template-columns: 1fr;
  }
}
