.adminPage{
  display: grid;
  gap: 16px;
}

.adminPageGrid{
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
  align-items: start;
}

.adminPageRight{
  display: grid;
  gap: 16px;
  width: 100%;
  padding: 24px 32px;
  box-sizing: border-box;
}

@media (max-width: 1000px){
  .adminPageRight{
    padding: 16px;
  }
}
