.widgetGridDefault {
  display: grid;
  gap: 16px;
  justify-content: center;
}

.widgetGridDefault > * {
  width: 100%;
}

.widgetGridCarousel {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x proximity;
  padding: 0 16px 10px;
  scrollbar-width: thin;
}

.widgetGridCarousel::before,
.widgetGridCarousel::after {
  content: "";
  flex: 1 0 auto;
}

.widgetGridCarousel > * {
  flex: 0 0 min(300px, 85vw);
  scroll-snap-align: start;
}