.widgetGridDefault {
  display: grid;
  gap: 16px;
}

.widgetGridCarousel {
  display: flex;
  gap: 16px;

  overflow-x: auto;
  overflow-y: hidden;

  scroll-snap-type: x proximity;

  padding-bottom: 10px;

  scrollbar-width: thin;
}

.widgetGridCarousel > * {
  flex: 0 0 min(320px, 85vw);
  scroll-snap-align: start;
}