/* wrapper interne (pour chevron) */
.uiSelect {
  position: relative;
  width: 100%;
}

/* on n'ajoute PAS de border ici */
.uiSelect__control {
  appearance: none;
  background: transparent;
  padding-right: 36px; /* place pour le chevron */
}

/* chevron custom */
.uiSelect__chevron {
  position: absolute;
  top: 50%;
  right: 12px;
  width: 10px;
  height: 10px;
  pointer-events: none;
  transform: translateY(-50%);
}

.uiSelect__chevron::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-right: 2px solid #6b7280;
  border-bottom: 2px solid #6b7280;
  transform: rotate(45deg);
}

/* état erreur */
.uiSelect--error .ui-input {
  border-color: #dc2626;
}

.uiSelect--error .ui-input:focus {
  box-shadow: 0 0 0 4px rgba(220, 38, 38, 0.15);
}
