@media (max-width: 900px) {
  .publicTicketRight {
    width: 100%;
  }

  .publicTicketLayout {
    flex-direction: column;
  }

  .publicQtyBlock {
    justify-content: flex-end;
  }
  .publicTicketTotal {
    justify-content: flex-end;
  }
}
