/* =========================
   MOBILE ONLY
   ========================= */

@media (max-width:700px){

  .eventTable__headerRight{
    width:100%;
    flex-direction:column;
    align-items:stretch;
    gap:8px;
  }

  .eventTable__newInput{
    width:100%;
  }

  /* Meta en une colonne */
  .eventCard__meta{
    grid-template-columns:1fr;
  }
}

@media (max-width:700px){

  .eventCard__actions{
    display:flex;
    margin-top: 16px;
  }

  .eventCardActions,
  .eventCardActions__trigger{
    width:100%;
  }

  .eventCardActions__trigger{
    height:48px;
    justify-content:center;
  }

  .eventCardActions__menu{
    left:0;
    right:0; /* menu full width sous la carte */
    min-width: unset;
  }
}