
:root {
  --primary: 228 156 33;            /* #e49c21 */
  --primary-contrast: 0 0 0;
  --primary-bg: 228 156 33;
  --radius: 16px;
}

html, body, #root {
  width: 100%;
  max-width: 100%;
}


* {
  box-sizing: border-box;
}

img, svg, video, canvas {
  max-width: 100%;
}

body {
  background-color: #f7f7fb;
  background-image:
   linear-gradient(
  to bottom,
  rgb(var(--primary-bg) / 0.20),
  transparent 55%
);

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

/* ✅ Dark mode : on bascule via html.dark */
html.dark body {
  background-color: #0b1020;
  background-image:
    radial-gradient(
      1200px 600px at 10% 0%,
      rgb(var(--primary-bg) / 0.18),
      transparent 55%
    ),
    radial-gradient(
      900px 500px at 90% 10%,
      rgb(16 185 129 / 0.10),
      transparent 55%
    );
}

/* ✅ mobile / small screens : désactiver fixed (Chrome bug) */
@media (max-width: 1050px) {
  body {
    background-attachment: scroll;
  }
}